/* General styling */
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  line-height: 1.6;;
}

/* Header */
header {
  background-color: #ff1e1e;
  color: white;
  padding: 30px;
  text-align: center;
}

/* Sections */
section {
  background: white;
  margin: 20px;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
}

/* Section titles */
h2 {
  color: #ffe600;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  header {
    padding: 25px 15px;
  }

  section {
    margin: 10px;
    padding: 15px;
  }
}
